.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,button {
  width: 400px;
  height: 1.4rem;
  font-size: 1.2rem;
  margin: 10px;
}
.course {
  height: 270px;
  width: 500px;
  border: 3px black solid;
  margin: 12px;
}